body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

form {
  max-width: 300px;
}

.login-field {
  margin: 2px;
  border: none;
  border-bottom: 2px solid darkblue;
}

.login-button {
  float: right;
  transition-duration: 0.4s;
  margin: 4px 2px;
  border: none;
  padding: 8px 16px;

  background-color: white;
  color: darkblue;
  border: 2pt solid darkblue;
}

.login-button:hover {
  background-color: darkblue;
  color: white;
}
